<div class="container">
    <form #heroForm="ngForm">
        <mat-form-field class="example-full-width">
            <mat-label>Enter mobile number</mat-label>
            <input type="number" required matInput placeholder="Enter your mobile number" [(ngModel)]="phoneNumber"
                name="name" #name="ngModel">
        </mat-form-field>
        <div class="flex">
            <a class="custom-btn link" [ngClass]="heroForm.valid ? '' : 'link-disable'"
                href="https://api.whatsapp.com/send?phone={{phoneNumber}}">Send Message</a>
        </div>
    </form>
</div>